.text-shadow-retro {
    text-shadow: 4px 4px 0px #000000;
}

:root {
    --cursor-url: url('/cursor.png');
}

html,
body {
    cursor: var(--cursor-url) 0 0, auto !important;
}

a,
button,
[role="button"],
input,
select,
textarea {
    cursor: var(--cursor-url) 0 0, pointer !important;
}