@import "tailwindcss";

@theme {
  --font-pixel: var(--font-pixel);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}